<!DOCTYPE html>
<html>
<head>
	<title>Example connect page</title>
	<% include ../partials/lightningHeaders.ejs %>
</head>

<body>

<script type='text/javascript'>
	
	jsf = null;
	
	Sfdc.canvas( function(){
		var loggedIn = Sfdc.canvas.oauth.loggedin();
		var token = "<%= TOKEN %>";
		var msgIn = Sfdc.canvas.byId( "msgIn" );
		var userInfo = <%- JSON.stringify( USER_INFO ) %>;
		
		//debugger;

		jsf = new jsforce.Connection({
			sessionId: "<%= TOKEN %>",
			serverUrl: "<%= INSTANCE_URL %>"
		});
		
		jsf.query ("select id, name from account limit 1", function( err, records ){
			console.log( "query returned" );
			if( !err ){
				console.log( records );
			}
			//debugger;
			
			Sfdc.canvas.controller.publish({ name:"myevent0", payload: { cuca:"monga" }});
		});
		
		msgIn.setAttribute( "value", "<%= SIGNED_REQUEST %>" );
	});
</script>

<!--
taken from
https://developer.salesforce.com/docs/atlas.en-us.platform_connect.meta/platform_connect/canvas_app_oauth_code_example.htm
jsf
https://jsforce.github.io/document/
-->

<div class='rome-lds'>
	<h1>Hey <%= USERNAME %></h1>
	<div>
		<table>
			<th>
				<td>Name</td><td>Value</td>
			</th>
			<tr>
				<td>userName</td><td><%= USER_INFO.context.user.userName %></td>
				<td>email</td><td><%= USER_INFO.context.user.email %></td>
			</tr>
		</table>
	</div>
	<div class="slds-form-element">
		<label class="slds-form-element__label" for="text-input-01">Your signed request</label>
		<div class="slds-form-element__control">
			<input type="text" id="msgIn" class="slds-input" placeholder="Message goes here" />
		</div>
		<button id='actionBtn' type='button' class='slds-button slds-button--brand'>Go</button>
	</div>
</div>


</body>
</html>
